@import './variables';
@import "navigation";

.grid{
  display: grid;
}

.gap-{
  @for $i from 1 through 10 {
    &#{$i}{
      width: #{$i}px;
    }
  }
}

.w-{
  @for $i from 1 through 30 {
    &#{$i}{
      width: #{$i}rem;
    }
  }
}

.text-{
  &gray-{
    &500{
      color: $gray-500;
    }
    &600{
      color: $gray-600;
    }
    &700{
      color: $gray-700;
    }
  }
  // size
  &xs{
    font-size: 10px;
  }
  &sm{
    font-size: 12px;
  }
  &md{
    font-size: 14px;
  }
  &lg{
    font-size: 16px;
  }
  &xl{
    font-size: 18px;
  }
  &2xl{
    font-size: 20px;
  }
  &3xl{
    font-size: 24px;
  }
}
