@import '@/assets/css/_variables.scss';


.home-form {
  background-image: url("/img/banner-principal.jpg");
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;  
  .title {
    background: rgba(71, 75,78, 0.6);
    color: white;
    margin-top: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    .title2{
      text-align: center;
      margin-right: 50px;
      h6{
        font-size: 1rem;
        font-weight: lighter;
        padding-bottom: 10px;
        letter-spacing: 10px
      }
      h6:first-letter {
        letter-spacing: 10px;
      }
      h2 {
        font-size: 3.5rem;
        font-weight: bolder;
        line-height: 0.5;
      }
      h3{
        font-size: 2rem;
        font-weight: 800;
      }
      
    }
  }
  .btn{
    background-color: rgb(67, 138, 99);
    color: white;
    padding: 10px 40px;
    font-size: 1rem;
    border-radius: 0;
  }
}
