@import '@/assets/css/_variables.scss';

.select-categoria {
  .info {
    display: flex;
    justify-content: center;

    //align-items: start; 
    .title {
      display: block;
      text-align: left;

      h2 {
        font-size: 1.5rem;
        font-style: oblique;
        color: $gray-600;
        font-weight: 700;
        text-transform: uppercase;
      }

      ul {
        padding: 0;

        li {
          list-style: none;
          font-size: 1rem;
          color: $gray-600;
          line-height: 1.5x;
          font-style: italic;
          font-weight: 400;
        }
      }
    }
  }

  .contenido{   
    display: flex;
    justify-content: center;
    align-items: center;
    .fila{
      .item{
        .img{
          // background-image: url("/img/banner.jpg");  
          width: 300px;
          height: 300px;
          text-align: center;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;
          display: flex;
          justify-content:center;
          align-items:flex-end;
          margin: 0 auto;
          background-color: blue;
    
        }
        .infor{
          //background: rgb(92, 194, 209);     
          text-align: left;     
          .title{
            color: $gray-500;
            font-size: 1.25rem;
            text-align: left;
            font-weight: 600;
            line-height: 1;
          }
          .category, .price{
            color: $gray-700;
            font-size: 0.90rem;
            line-height: 0;
            text-align: left;
          }
        }
      }
    }
  }

}

