header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, white, rgb(0, 160, 153), rgb(0, 57, 130));
}

header h1 {
    font-size: 28px;
    color: rgb(80,80,80);
}

header nav{
    display: flex;
}
